body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 1rem;
}

header .logo img {
    width: 100px;
    height: auto;
}

header .header-text {
    text-align: center;
    flex-grow: 1;
}

header .header-text h1 {
    margin: 0;
}

nav {
    background-color: #d2232a;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    color: #d2232a;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
